@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.watch-now, .more-info {
  width: 175px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  background: transparent;
  color: #cdcccc;
  border: #fff 1px solid;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.watch-now:hover, .more-info:hover {
  background: white;
  color: #0c1c3a;
}